{% extends "index.html" %}

{% block body %}
<div class="container">

      <form class="form-signin" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">GoldEight</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" name="username" class="form-control" placeholder="请输入用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" class="form-control" placeholder="请输入密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住密码
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <p style="color:red">{{ error_msg }}</p>
      </form>

</div> <!-- /container -->
{% endblock %}


{%  block extra-css %}
    <link rel="stylesheet" href="/static/css/signin.css">
{% endblock %}