<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Login</title>
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    {#    <meta name="keywords"#}
    {#          content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates"/>#}
    <link href="/static/css/sigin.css" rel='stylesheet' type='text/css'/>
    <!--webfonts-->
    <link href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
{#    <!--//webfonts-->#}
    <script src="/static/js/jquery.min.js"></script>

    {% block etc-css %}{% endblock %}
</head>
<body>

<!--SIGN UP-->
<div class="login-form">
    <div class="avtar">
        <h1 style="color: #9199aa;">PerfectCRM</h1>
    </div>
    {% block validation-form %}

    <form method="post">
        {% csrf_token %}
        <input type="text" class="text" name="username" placeholder="请输入用户名/邮箱" >
        <div class="key">
            <input type="password" name="password" placeholder="请输入密码">
        </div>
        <div class="btn-info" style="color: #6756ea">初次登陆密码为:999999</div>
        <div class="checkbox">
            <label>
                <input type=radio name="role" value="老师">老师
                <input type=radio name="role" value="学生">学生
                <input type=radio name="role" value="销售">销售
                <input type=radio name="role" value="管理员">管理员
            </label>
        </div>
        <p style="color:red">{{ error_msg }}</p>
        <div class="signin">
            <input type="submit" value="走起">
        </div>
    </form>
    {% endblock %}
</div>

{% block etc-script %}{% endblock %}

</body>
</html>